@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Dancing+Script&family=Khand:wght@300;400;500;600&family=Quicksand:wght@300;500&family=Source+Sans+Pro:wght@200&family=Varela+Round&display=swap');
.container-principal{
    width: 100%;
    background-color: #1e1e1f;
    height: 100vh;
 
}
.header{
    background-color: #1c1c1e;;
    width: 100vw;
    height: 50px;
}
.container-main{
    width: 100%;
    background-color: #9f9f9f;
    height: 100%;
    display: flex;
}
.container-form{
    width: 400px;
    height: 300px;
    margin-left: 60px;
}
.container-tab-1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
  
}
.container-tab-grid-1{
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    justify-content: space-between;
    width: 250px;
    display: flex;
}
.form{
    width: 430px;
    height: 260px;
    background-color: #28282a;;
    margin-top: 200px;
    flex-direction: column;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 22px 2px #0a0a0a97;
    box-sizing: border-box;
}
.line{
    background-color: #25b797;
    height: 5px;
    width: 430px;
}
.template{
    width: 400px;
    height: 200px;
    background-color: #484b4e;
  
}
.inputName{
    width: 90%;
    outline: none;
    border: none;
    height: 25px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}
#labelStyle{
    font-family: 'Varela Round', sans-serif;
    margin:3px;
}
#select-state-civil{
    outline: none;
    border: none;
    background-color: #9f9f9f;
}