@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Dancing+Script&family=Exo+2:wght@300&family=Jost:wght@300&family=Khand:wght@300;400;500;600&family=Quicksand:wght@300;500&family=Reem+Kufi&family=Saira:wght@200;300&family=Source+Sans+Pro:wght@200&family=Varela+Round&display=swap');
body{
    margin: 0;
    padding: 0;
}

.container-principal{
    width: 100%;
    height: 105vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c1c1e;
}
.header{
    background-color: #1c1c1e;
    width: 100vw;
    height: 50px;
}
.row-items{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
}
.container-main{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container-form{
    width: 400px;
    height: 300px;
    
}
.carousel{
    width: 400px;
    height: 300px;
}

.container-btn-form{
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -80px;
    padding: 20px;
}
.btn-save-form{
    border: none;
    background: linear-gradient(to right, #25b797, #82ffa1);
    box-shadow: 0px 0px 22px #1515153d;
    width: 90px;
    border-radius: 60px;
    padding: 7px;
}
.btn-save-form:hover{
    transform: scale(1.1);
    transition: all 0.5s;
 }
.btn-clean-form{
  
    box-shadow: 0px 0px 22px #1515153d;
    width: 90px;
    border-width: 1.5px;
    border: none;
    color: #fff;
    background: linear-gradient(to right, #006c82, #027283);
    box-shadow: 0px 10px 22px 2px #0a0a0a97;
    margin-left: 10px;
    border-radius: 60px;
    padding: 7px;
}
.btn-clean-form:hover{
    transform: scale(1.1);
    transition: all 0.5s;
 }
.form{
    font-family: 'Quicksand', sans-serif;
    width: 430px;
    height: 520px;
    background-color: #28282a;
    flex-direction: column;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 22px 2px #0a0a0a97;
    box-sizing: border-box;
    border-radius: 8px;
}
.form input[type='radio']{
    margin: 10px;    
}


.line-style{
    background-color: #25b797;
    height: 10px;
    width: 430px;
    bottom: 10px;
    position: relative;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


.carousel{
    align-items: center;
    justify-content: center;
 
}

.data-user-header{
width: 100%;
}
.info-user-temp1{
    margin-top: 7px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 17px;
}
.info-user-temp1 > span{
 font-size: 7.2px;
}
.container-carousel-teste{
  width: 400px;
}

.objective-tab{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form-align{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 93vw;
}
.container-register-name-curri{
    width: 320px;
    height: 420px;
    background-color:#28282a00;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 22px 2px #12121200;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.name-curri{
    border: none;
    border-radius: 60px; 
}
.select-name-register{
    width: 100%;
    background: linear-gradient(to right, #25b797, #82ffa1);
    border-radius: 60px; 
    border: none;
    font-family: 'Quicksand', sans-serif;
    color: #07373a;
}
.form-register-name-curriculo{
    background-color: #414145;
    box-shadow: 0px 10px 22px 2px #2b2c3153;
    padding: 10px;
    border-radius: 10px;
}
.select-name{
    margin-top: 10px;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.view-input-nameCurri-register{
   
    display: flex;
    flex-direction: row;
}
.select-name > label{
   color: #ffffff;
}
.btn-register-name-curri{
    border-width: 2px;
    border: none;
    background: linear-gradient(to right, #25b797, #82ffa1);
    margin-left: 10px;
    color: #07373a;
    font-size: 13px;
    padding: 7px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 60px;  
    box-shadow: 0px 10px 22px 2px #12121253;
    font-family: 'Quicksand', sans-serif;
}
.btn-register-name-curri:hover{
    transform: scale(1.1);
    transition: all 0.5s;
 }
.style-modal-temps{
    width: 100%;
    max-width: 500px;
    height:630px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    align-items: center; 
    display: flex;
    justify-content: center;
 }
.overlay-modal-temps{
   
    background: rgba(255,255,255,0.1);
    box-shadow: 10px 10px 20px -10px rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    transition: .5s ease;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(24 32 79 / 25%) 0px 40px 80px, rgb(255 255 255 / 50%) 0px 0px 0px 0.5px inset;
}
.btns-modal-options{
    width: 20px;
    height: 90px;
    background-color: #1c1c1e;
    display: flex;
    flex-direction: column;
}
.btn-close-modal{
    width: 35px;
    height: 30px;
    padding: 2px;
    border-radius: 9px;
    background: rgba(249, 49, 8, 0.885);
    box-shadow: 10px 10px 20px -10px rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(4px);
    transition: .5s ease;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

}
.container-btn-modal{
    width: 150px;
    border-radius: 10px;
    height: 40px;
    background: rgba(53, 53, 53, 0.146);
    box-shadow: 10px 10px 20px -10px rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(4px);
    transition: .5s ease;
    position: fixed;
    margin-bottom: -520px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}
.btn-close-moda:hover{
    transform: scale(1.2);
    transition: all 0.5s; 
}
.styles-btn-options-modal{
    width: 35px;
    height: 30px;
    padding: 2px;
    border-radius: 9px;
    background: rgba(53, 53, 53, 0.222);
    box-shadow: 10px 10px 20px -10px rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(4px);
    transition: .5s ease;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.styles-btn-options-modal:hover{
    transform: scale(1.2);
    transition: all 0.5s; 
}
.container-temp1-view{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-view-temp1{
    margin-top: 10px;
    border-width: 1.5px;
    background: none;
    color:#07373a;
    margin-left: 45px;
    padding: 8px;
    font-size: 10px;
    border-radius: 40px;
    border: none;
    background: linear-gradient(to right, #25b797, #82ffa1);
}
.container-XP{
    display: flex;
    flex-direction: row;
}
.box-form-guia{
    display: flex;
    height: 24px;  
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}
.box-form-guia > h5{
    width: 100%;
    background-color: #37373a;
    color: #f6dfff;
    font-size: 15px; 
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
.box-animate-guia{
    height: 4px;
    width: 100px;
    background-color: #d27af5;
    border-radius: 10px;
}
.box-form-register-curriculo{
    display: flex;
    height: 24px;  
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;  
    margin-top: 50px;
}

.box-form-register-curriculo > h5{
    width: 100%;
    background-color: #37373a;
    color: #f6dfff;
    font-size: 15px; 
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 
}
.box-line-regiser-curriculo{
    height: 4px;
    width: 30px;
    background-color: #d27af5;
    border-radius: 10px;
}
.box-form{
    display: flex;
    height: 24px;  
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}
.box-form > h5{
    width: 100%;
    background-color: #37373a;
    color: #f6dfff;
    font-size: 15px; 
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box-line-form{
    height: 4px;
    width: 120px;
    background-color: #d27af5;
    border-radius: 10px;
}
.box-templates{
    display: flex;
    height: 24px;  
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}
.box-templates> h5{
    width: 80%;
    background-color: #37373a;
    color: #f6dfff;
    font-size: 15px; 
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box-line-templates{
    height: 4px;
    width: 100px;
    background-color: #d27af5;
    border-radius: 10px;
}


.main-XP{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.row-xp{
    display: flex;
    flex-direction: row;
    width:60px;
    justify-content: center;
    margin-left: 30px;
    align-items: center;
    margin-right: -20px;
}
.row-xp > div{
   margin-top: 5px;
   height: 40px;
   display: flex;
   flex-direction: column;
   width: 100%;
 }
.row-xp > div> span{
   display: flex;
   flex-direction: row;
   font-size: 6px;
   font-family: 'Varela Round', sans-serif;
}
.row-formation-view{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
   
    align-items: center;
    margin-right: -20px;
}
.row-formation-view > div{
    margin-top: 5px;
    height: 20px;
    display: flex;
    flex-direction: column;
    width: 190px;
    margin-top: -2px;
  }
  .row-formation-view > div> span{
    display: flex;
    flex-direction: row;
    font-size: 8px;
    font-family: 'Varela Round', sans-serif;
 }
 .row-formation{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center; 
    align-items: center;
    margin-right: -20px;
}
.row-formation > div{
    margin-top: 5px;
    height: 20px;
    display: flex;
    flex-direction: column;
    width: 190px;
    margin-top: -2px;
  }
  .row-formation > div> span{
    display: flex;
    flex-direction: row;
    font-size: 6px;
    font-family: 'Varela Round', sans-serif;
 }
 .row-cursos{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
    align-items: center;
    margin-right: -20px;
}
.row-cursos > div{
    margin-top: 5px;
    height: 20px;
    display: flex;
    flex-direction: column;
    width: 190px;
    margin-top: -20px;
  }
  .row-cursos > div> span{
    display: flex;
    flex-direction: row;
    font-size: 6px;
    font-family: 'Varela Round', sans-serif;
 }
 .row-cursos-view{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
    align-items: center;
    margin-right: -20px;
}
.row-cursos-view> div{
    margin-top: 5px;
    height: 20px;
    display: flex;
    flex-direction: column;
    width: 240px;
    margin-top: -20px;
  }
  .row-cursos-view> div> span{
    display: flex;
    flex-direction: row;
    font-size: 8px;
    font-family: 'Varela Round', sans-serif;
 }
.row-xp-temp1{
    display: flex;
    flex-direction: row;
    width:60px;
    justify-content: center;
    margin-left: 30px;
    align-items: center;
    margin-right: -20px;
    margin-top: 10px;
}
.row-xp-temp1 > div{
   height: 55px; 
   display: flex;
   flex-direction: column;
   width: 100%;
   
 }
 .row-xp-temp1> div> span{
   display: flex;
   flex-direction: row;
   font-size: 7px;
   font-family: 'Varela Round', sans-serif;
}
.manual{
    width: 170px;
    height: 170px;
}
.manual:hover{
    transform: scale(1.1);
    transition: all 0.5s;
 }
 .style-modal-guide{
    width: 100%;
    max-width: 530px;
    height:500px;
    background-color: rgba(57, 57, 57, 0.252);
    border-radius: 20px;
    align-items: center; 
    display: flex;
    justify-content: center;
    flex-direction: column;
 }
 .modal-guide-overlay{
    background: rgba(159, 159, 159, 0.1);
    box-shadow: 10px 10px 20px -10px rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(7px);
    transition: .5s ease;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(24 32 79 / 25%) 0px 40px 80px, rgb(255 255 255 / 50%) 0px 0px 0px 0.5px inset;
 }
 .carousel-guide{
    width: 200px;
    height: 200px;
    background-color: #07373a;
 }
 .container-carousel-guide{
  width: 450px;
}
.guia{
    width: 100%;
    height: 190px;
    margin-bottom: 20px;
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(to right, #25b797, #82ffa1);
}
.guia > label{
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    color:#37373a;
    font-weight: 700;
    margin-top: -10px;
    
}
.btn-close-modal-guide{
    margin-top: 20px;
    border:none;
    background-color: #64676700;
}
.btn-guide{
    border:none;
    background-color: #28282a00;
}
 .container-formation{
    box-sizing: border-box;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    width: 390px;
    height: 370px;
    overflow-y: scroll;
    position: absolute;
    align-items: center;
    padding: 5px;
    margin-top: 15px;
 }
.formation{

    border-radius: 10px;
    flex-direction: column;
    align-items: center; 
    display: flex;
    justify-content: center;
    background-color:#414145;
    height: 145px;
    padding: 10px;
    width: 100%;
    margin-top:10px;
 
  }

  .container-formation::-webkit-scrollbar{ 
    background-color: #1c1c1e00;
  }

.input-formation{
      
        border-radius: 15px;
        width: 100%;
        height: 100%;
    
  }
  .input-formation > input{ 
    width: 100%;
    height: 25px;
    background-color:#fff;
    outline: none;
    padding: 8px;
    border: none;
    border-radius: 10px;
  }
  .container-main-cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10px;
  }
  .container-cursos{
    box-sizing: border-box;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    width: 390px;
    height: 370px;
    overflow-y: scroll;
    position: absolute;
    align-items: center;
    padding: 5px;
    margin-top: 15px;
 }
.cursos{

    border-radius: 10px;
    flex-direction: column;
    align-items: center; 
    display: flex;
    justify-content: center;
    background-color:#414145;
    height: 210px;
    padding: 10px;
    width: 100%;
    margin-top:10px;
 
  }

  .container-cursos::-webkit-scrollbar{ 
    background-color: #1c1c1e00;
  }

.input-cursos{
      
        border-radius: 15px;
        width: 100%;
        height: 100%;
    
  }
  .input-cursos > input{ 
    width: 100%;
    height: 25px;
    background-color:#fff;
    outline: none;
    padding: 8px;
    border: none;
    border-radius: 10px;
  }
@media only screen and (max-width:1240px){
    .style-modal-temps{
     
        height:690px;
        justify-content: center;
        
     }
   
    .row-formation > div{
        margin-top: 2px;

      }
    .row-items{
        flex-direction: row;   
        justify-content: space-between;
    }
    .container-principal{   
        height: 100vh;
        flex-direction: column;
    }
    .form-align{
            flex-direction: row;           
            height: 100%;    
    }
    .container-register-name-curri{
            width: 240px;
            margin-left: 10px;
            margin-bottom: 60px;
            padding: 10px;
            height: 280px;             
    }
    .name-curri{
          width: 90%;
    }
    .select-name-register{
            width: 100%;
    }
    .select-name{ 
            width: 100%;        
            align-items: center;  
            flex-direction: column;
    }
    .container-carousel{
          
            flex-direction: column;
            margin-top: 60px;
    }
    .container-form{
            width: 350px;
            height: 400px;
            margin-right: 30px;
            margin-left: 15px;
    }
    .btn-view-temp1{
            width: 100px;
            height: 20px;
            font-size: 8px;   
    }
    .container-main{
            width: 100%;
            height: 100%;
            justify-content: center;        
    }
    .form{
        width: 380px;
        height: 495px;  
    }
    .container-carousel-teste{
        width: 330px;
        height: 420px;
    }  
    .line-style{
    width: 380px;
    }
    
}


@media only screen and (max-width:950px){
    .container-temp1-view{
   
        margin-right: 22px;
      }
    .row-items{
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 260vh;
        margin-bottom: 130px;
    }
    .container-principal{
     
        height: 280vh;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }
    .form-align{
            flex-direction: column;    
            display: flex;
            height: 100%;    
        }
        .container-register-name-curri{
            width: 340px;
            margin-left: 10px;
            margin-bottom: 60px;
        }
        .container-carousel-teste{
            
            margin-top: 100px;
        }
        .container-form{
            width: 400px;
            height: 430px;
       
            margin-right: 30px;
            margin-left: 15px;
        }
        .btn-view-temp1{
        
            width: 140px;
            height: 40px;
            font-size: 11px;
     
        }
        .container-main{
            width: 100%;
            height: 100%;
            align-items: center;
            display: flex;
            justify-content: center;
            background-color: #82ffa1;
        }
        .form{
            width: 380px;
            height: 490px;  
        }  
        .line-style{
        width: 380px;
        }
    
}
@media only screen and (max-width:720px){
    
    .row-items{
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 240vh;
        margin-bottom: 130px;
    }
    .container-principal{ 
        height: 280vh;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }
    .form-align{
            flex-direction: column;    
            display: flex;
            height: 100%;    
        }
        .container-register-name-curri{
            width: 340px;
            margin-left: 10px;
            margin-bottom: 25px;
            height: 450px;
        }
        .container-carousel-teste{   
            margin-top: 80px;
            margin-bottom: 60px;
        }
        .container-form{
            width: 400px;
            height: 430px;     
            margin-right: 30px;
            margin-left: 15px;
        }
        .btn-view-temp1{    
            width: 140px;
            height: 40px;
            font-size: 11px;   
        }
        .container-main{
            width: 100%;
            height: 100%;
            align-items: center;
            display: flex;
            justify-content: center;
            background-color: #82ffa1;
        }
        .form{
            width: 390px;
            height: 590px;  
        }  
        .line-style{
        width: 380px;
        }
    
}
