.title-page{
    background: linear-gradient(to right, #18c2ae, #04bca7);
    width: 100%;
    height: 50px;
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-bottom: 20px;
}
.title-page >h1{
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
    color:#1c1c1e;
    font-weight: 700;
}