*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus{
  outline: 0;
}
html, body, #root{
  height: 100vh; 
}

::-webkit-scrollbar{
  background-color: rgba(75, 75, 75, 0.241);
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(127, 127, 127, 0.493);
  width: 10px;
  border-radius: 10px;
}
